<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 记录spring bean的日志信息 -->
	<aop:config>
		<aop:aspect id="logging" ref="loggingAspect">
			<aop:pointcut id="loggingPointcut"
				expression="execution(public * com.gxws..*.*(..)) 
				and not execution(* com.gxws.tool.logging..*.*(..))
				and not execution(* com.gxws.tool..*.*(org.aspectj.lang.JoinPoint))
				and not target(org.springframework.web.servlet.HandlerInterceptor)" />
			<aop:before method="before" pointcut-ref="loggingPointcut" />
			<aop:after method="after" pointcut-ref="loggingPointcut" />
		</aop:aspect>
	</aop:config>
	<bean id="loggingAspect" class="com.gxws.tool.logging.spring.aspect.BeanLoggingAspect" />

</beans>
