<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="projectEntity" class="com.gxwsxx.tool.properties.entity.ProjectEntity" />

	<!-- local readers -->
	<bean id="fileReader" class="com.gxwsxx.tool.properties.reader.local.FileReader" />

	<bean id="javaOptsReader" class="com.gxwsxx.tool.properties.reader.local.JavaOptsReader" />

	<bean id="systemEnvReader" class="com.gxwsxx.tool.properties.reader.local.SystemEnvReader" />

	<bean id="ManuallyReader" class="com.gxwsxx.tool.properties.reader.local.ManuallyReader" />

	<bean id="servletConetxtReader"
		class="com.gxwsxx.tool.properties.reader.local.ServletConetxtReader" />
	<!-- local readers -->

	<!-- remote reader -->
	<!-- 需要在java_opts加入参数，例如 -Dproject.zookeeper.hosts=host1:2181,host2:2181,host3:2181 -->
	<bean id="zookeeperReader" class="com.gxwsxx.tool.link.properties.reader.ZookeeperReader" />

	<bean class="com.gxwsxx.tool.properties.spring.PropertiesBean">
		<property name="projectEntity" ref="projectEntity" />
		<property name="propertiesConstant" ref="propertiesConstantBean" />
		<property name="propertiesReader">
			<bean class="com.gxwsxx.tool.properties.core.PropertiesReadCore" />
		</property>
		<property name="propertiesWriter">
			<bean class="com.gxwsxx.tool.properties.core.PropertiesWriteCore" />
		</property>
	</bean>
</beans>